*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

body{
    background-color: #1C1C1C;
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    height: 100vh;
}
.contenedor{
    background-color: #1F2937;
    min-width: 550px;
    height: 550px;

}
.contenedorSuperior{
    margin-top: 115px;
    margin-left: 52px;
    margin-bottom: 35px;
}
h1{
    color: white;
    width: 500px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}
.textoVerde{
    color: #4ADF86;
}
h2{
    color: #D5D4D8;
    width: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 51px;
}
button{
    border: none;
    width: 191px;
    height: 42px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 24px;
    color: white;
    transition-duration: 0.4s ; /*cuanto dura la animacion*/
}
button:hover{ /*pseudoclase hover, defino que pasa cuando tengo el mouse encima de la etiqueta button */
    color: #10B981;
    background: rgb(243, 243, 243);
}

.lineaSeparadora{
    width: 446px;
    height: 1px;
    background-color: #2F3E53;
    margin-left: 51px;
}
.contenedorInferior{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 21px;
    justify-content: center;
    margin-top: 35px;

}
.contraseña{
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}
.popup{
    background-color: #273549;
    width: 100px;
    padding: 5px;
    border-radius: 6px;
    color:rgb(243, 243, 243);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 550;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%,-20px);
    opacity: 0;
    pointer-events: none;
}

.popup.active{
    animation: popup ease-in-out 1s forwards;
}

@keyframes popup{
    0%{
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%,-20px);
    }
    40%{
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%,0px);
    }
    80%{
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%,0px);
    }
    100%{
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%,-20px);
    }
}